{
    "udp": {
        "ip": "127.0.0.1",
        "port": 5005
    },
    "web": {
	"cmd": ["web_server.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 80
    },
    "sim": {
        "enable": false,
        "logging": false,
        "data": "Data_Wolfeboro.json",
        "speedup": 4,
        "cmd': ["simulator.sh", "%PORT%", "%OUTPUT_DIR%"],
        "host": "localhost",
        "port": 8084 
    },
    "gps": {
	"enable": true,
        "logging": true,
	"cmd": ["gps_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 8080
    },
    "gpsimu": {
       	"x": "x", "y": "y", "z": "z",
        "serial": "/dev/ttyUSB0",
	"enable": false,
        "logging": true,
	"cmd": ["gpsimu_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 8080
    },
    "imu": {
       	"x": "x", "y": "y", "z": "z",
	"enable": true,
        "logging": true,
	"cmd": ["imu_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 8081
    },
    "lidar": {
	"enable": false,
        "logging": true,
	"cmd": ["lidar_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 8082
    },
    "hpslidar": {
	"enable": false,
        "logging": true,
	"cmd": ["hps_lidar_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
	"host": "localhost",
        "port": 8082
    },
    "lpcm": {
	"enable": false,
        "logging": true,
	"cmd": ["lpcm_logger.sh", "%PORT%", "%OUTPUT_DIR%"],
        "arecord": "--format S16_LE --rate=44100 --channels=1 --duration=60",
	"host": "localhost",
        "port": 8083
    }
}
